* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
h3 {
    text-align: center;
    margin: 3rem;
}
.grid {
    display: flex;
    flex-wrap: wrap;
    height: 300px;
    width: 400px;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
}